page-login {
    .submitButton{
        margin-top: 30px;
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
        height: 125px;
    }
    .logoText{
        text-align: center;
    }
}
