page-search-request {
    .radioGrp{
        margin-bottom: 0px !important;
    }
    .scroll-content{
        padding: 1px !important;
    }
    .fixed-content{
        background-color: #d3d3d37d;
    }
    .radioLabel{
        color: #808080cc;
    }
    .required{
        color: red;
    }
    .enableBottomBorder {
        .item-inner { border-bottom: 1px solid #dedede !important; }
    }
    .btnRow{
        margin-left: 10px;
        margin-bottom: 5px;
    }
}
