page-services-list {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
    
        .card-title {
            // position: absolute;
            // top: 0;
            // font-size: 1.4em;
            // width: 100%;
            // font-weight: bold;
            // color: #fff;
            // opacity: 102px;
            background-color: #0000008c;
            padding: 4px;
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
    
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
            background-color: #0000008c;
            padding: 5px;
        }

    }
    .scroll-content{
        padding: 0px !important;
    }
    .grid{
        padding: 0px !important;
    }
    .row{
        margin: -6px;
    }
    ion-col{
        padding: 0px !important;
    }
    ion-slides{
        height:50% !important;
    }
}
